:root {
  --main: #c3b49c;
  --secondary: #596e79;
  --main-hover: #d8cdbd;
}

@font-face {
  font-family: "casadona";
  src: url("casadona.ttf") format("truetype");
}

.body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

li,
a {
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 80px;
  color: #c68a94;
  font-family: "casadona", cursive, "Montserrat", sans-serif;
}
h2 {
  font-size: 60px;
  color: #c68a94;
  font-family: "casadona", cursive, "Montserrat", sans-serif;
}

h3 {
  font-size: 50px;
  color: #c68a94;
  font-family: "casadona", cursive, "Montserrat", sans-serif;
}

#h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
  color: #c68a94;
  font-family: cursive, "Montserrat", sans-serif;
}

h6 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: bold;
  color: #596e79;
}

p {
  color: #596e79;
}

/*********************************** Header **********************************/

.navbar-fixed-top.scrolled {
  background-color: #c3b49c !important;
  transition: background-color 100ms linear;
}

.navbar-static {
  background-color: #c3b49c;
}

.logo {
  margin: 1rem 1rem 0.5rem 3%;
  max-height: 4.4rem;
  height: 100%;
  cursor: pointer;
}

.ctc-btn {
  position: absolute;
  right: 4rem;
  top: 0;
  margin-top: 0;
  padding-right: 0;
}

.cta-btn {
  float: right;
  background-color: #937b58;
  cursor: pointer;
  color: #edf0f1;
  padding: 0.6rem 1.25rem;
  border-radius: 0;
}

.fa-envelope {
  background-color: transparent;
}

.phn {
  border-bottom-right-radius: 0.3rem;
}

.email {
  border-bottom-left-radius: 0.3rem;
}

.cta-btn:hover {
  background: #d8cdbd;
  color: white;
}

.icon {
  position: relative;
  background-color: transparent;
  padding: 0 0.5rem 0 0;
}

.nav-bar {
  position: absolute;
  right: 3.125rem;
  top: 3.7rem;
}

.nav__links {
  float: right;
}

.nav--link {
  color: white;
}

.nav--link:hover {
  color: #dfd3c3;
}

.nav--item {
  display: inline;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main);
  min-width: min-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content {
  padding: 0.5rem;
}

.dropdown-content a {
  display: block;
  background-color: var(--main);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-show {
  display: none;
}

/**************************** Title image *************************************/
.banner {
  position: relative;
  height: auto;
  width: 100vw;
}

.banner-slide {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
  margin: auto;
  padding: 0;
  margin-top: 0;
}

.banner-slide-subpages {
  height: 500px;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
  margin: auto;
  padding: 0;
}

.banner-our-story {
  background-position: 50% 32%;
}

.container-wide {
  z-index: 2;
  margin-left: 5%;
  padding: 20px;
  width: 520px;
}

.banner-slide__content {
  position: relative;
  z-index: 2;
  top: 240px;
}

.title-heading {
  margin: 5%;
}

.title-paragraph {
  font-weight: bold;
  font-size: 14px;
  color: #edf0f1;
  margin: 5%;
}

.banner-btn {
  background-color: #c68a94;
  color: #edf0f1;
  border: none;
  margin: 5%;
  font-family: Montserrat;
}

.banner-btn:hover {
  background-color: #ebccd2;
  color: black;
}

.banner__tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  /* opacity: 50%; */
  background: rgba(0, 0, 0, 0.7);
  /*can be anything, of course*/
}

.banner__tint-sub {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  opacity: 50%;
  background: rgba(0, 0, 0, 0.7);
  /*can be anything, of course*/
}

/*********************************** Primary Written content ***********************************/
.primary-cell {
  background-color: white;
  height: auto;
  width: auto;
}

.primary-content {
  height: auto;
  text-align: center;
  margin-bottom: 50px;
}

.primary-content-a {
  height: auto;
  text-align: center;
}

.secondary-content {
  height: auto;
  text-align: left;
}

.page-header {
  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.spacing {
  margin-top: 3%;
}

.text {
  color: #596e79;
}

.banner-button-secondary {
  color: #c68a94;
  border: 2px solid #c68a94;
}

.banner-button-secondary:hover {
  color: #edf0f1;
  background-color: #c68a94;
}

.spacing-bottom {
  margin-bottom: 100px;
}

/**************************** Grid-links ************************************/
.positioning {
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
}

.tint:hover .image-scale {
  filter: brightness(100%) grayscale(30%);
}

.backgrounds {
  display: relative;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.content {
  text-align: center;
  position: relative;
  padding: 0;
}

.image-scale {
  height: 350px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  filter: brightness(70%) grayscale(50%);
}

.on-top {
  z-index: 2;
  font-weight: bold;
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tint:hover .on-top {
  color: white;
  font-size: 66px;
  text-shadow: none;
}

/**************************** Testimonials ************************************/
.testimonials {
  position: relative;
  min-height: 450px;
  height: auto;
  height: auto;
  padding: top 50px;
  padding-bottom: 50px;
  text-align: center;
}

.h1 {
  padding-top: 100px;
}

.carousel-item {
  padding: 50px 20%;
  height: auto;
}

em {
  color: #596e79;
}

.carousel-fixings {
  color: #c68a94;
  opacity: 100;
  font-size: 50px;
}

.carousel-fixings:focus {
  color: #c68a94;
}

.carousel-fixings:hover {
  color: #ebccd2;
}

/**************************** More information ************************************/
.heading-section {
  padding: 20px;
  font-size: 40px;
}

.padding {
  padding: 50px 0 100px;
  background-color: #f0ece3;
}

.margining {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  align-items: center;
  text-align: center;
  margin: auto;
  display: block;
}

/**************************** Footer ************************************/
.footer {
  height: 100px;
  background-color: #596e79;
}

.fa-facebook {
  font-size: 20px;
}

#container {
  margin-left: 6%;
  margin-right: 6%;
  max-width: 100%;
}

.nav-item a {
  font-size: 1rem;
  padding-left: 1rem;
}

.nav-item a:hover {
  color: #d3d3d3;
}

/* featurette - Services */
.featurette-divider {
  margin: 50px 10%;
}

.featurette {
  margin-left: 10%;
  margin-right: 10%;
}

.padding-50 {
  padding: 50px;
}

.padding-30 {
  padding-bottom: 30px;
}

.margin-100 {
  margin-bottom: 100px;
}

.featurette-img {
  height: 400px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 8px 24px #969ba5;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 8px 24px #969ba5;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 8px 24px #969ba5;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  object-fit: cover;
}

.background-color-change {
  background-color: #f0ece3;
}

.padding-bottom {
  padding-bottom: 100px;
}

.text-padding {
  padding: 1rem 0;
}

.margin-top {
  margin-top: 100px;
}

.padding-top-50 {
  padding-top: 100px;
}

/* Screen Sizing */

@media (min-width: 1300px) {
  .navigation {
    display: none;
  }

  .banner__tint {
    opacity: 50%;
  }
}

@media (max-width: 1300px) {
  .lg-screen {
    display: none;
  }

  .banner-slide {
    background-attachment: scroll;
  }

  .banner__tint {
    opacity: 90%;
  }
  .padding-50 {
    padding: 0px;
  }
}

@media (max-width: 761px) {
  .featurette-img {
    margin-top: 50px;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 40px;
  }

  #h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  header {
    background-color: #c3b49c;
    height: 100px;
  }

  .container-wide {
    max-width: 400px;
    width: auto;
    margin-right: 2%;
  }

  .banner-slide {
    height: 500px;
  }

  .banner-slide-subpages {
    height: 300px;
  }

  .banner-slide__content {
    top: 120px;
  }

  .image-scale {
    height: 200px;
  }

  .h1 {
    padding-top: 100px;
  }

  .carousel-item {
    padding: 25px 20% 50px;
  }

  .spacing {
    padding-left: 20px;
    padding-right: 20px;
  }

  .featurette-img {
    height: 250px;
  }
}

/* New media querys */

@media only screen and (max-width: 84rem) {
  .mobile-show {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .lg-screen {
    visibility: hidden;
    display: none;
  }
  .nav--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #596e79;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav--link {
    background-color: var(--secondary);
    color: white;
  }

  .nav--menu.active {
    left: 0;
  }

  .nav--item {
    background-color: var(--secondary);
    margin: 1.7rem 0;
  }

  .hamburger {
    background-color: transparent;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 33rem) {
  .logo {
    height: 100%;
    max-width: 70vw;
    width: 100%;
  }
  .hamburger {
    top: 1.7rem;
  }
}
