:root {
  --main: #c3b49c;
  --secondary: #596e79;
  --main-hover: #d8cdbd;
  --title: #c68a94;
}

@font-face {
  font-family: "casadona";
  src: url("casadona.ttf") format("truetype");
}

.body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

li,
a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title);
  font-family: "casadona", cursive;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3.125rem;
}

h6 {
  font-size: 20px;
  font-weight: bold;
  color: #596e79;
}

p,
em {
  color: #596e79;
}

.section-margin {
  margin: 3.5rem auto;
}

.inner-section-margin {
  margin-bottom: 2rem;
}

/*********************************** Header **********************************/

.navbar-fixed-top.scrolled {
  background-color: var(--main);
  transition: background-color 100ms linear;
}

.navbar-static {
  background-color: var(--main-hover);
}

.logo {
  margin: 1rem 1rem 0.5rem 3%;
  max-height: 4.4rem;
  height: 100%;
  cursor: pointer;
}

.ctc-btn {
  position: absolute;
  right: 4rem;
  top: 0;
  margin-top: 0;
  padding-right: 0;
}

.cta-btn {
  float: right;
  background-color: #937b58;
  cursor: pointer;
  color: #edf0f1;
  padding: 0.6rem 1.25rem;
  border-radius: 0;
}

.fa-envelope {
  background-color: transparent;
}

.phn {
  border-bottom-right-radius: 0.3rem;
}

.email {
  border-bottom-left-radius: 0.3rem;
}

.cta-btn:hover {
  background: var(--main-hover);
  color: white;
}

.icon {
  position: relative;
  background-color: transparent;
  padding: 0 0.5rem 0 0;
}

.nav-bar {
  position: absolute;
  right: 3.125rem;
  top: 3.7rem;
}

.nav__links {
  float: right;
}

.nav--link {
  color: white;
}

.nav--link:hover {
  color: #dfd3c3;
}

.nav--item {
  display: inline;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main);
  min-width: min-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content {
  padding: 0.5rem;
}

.dropdown-content a {
  display: block;
  background-color: var(--main);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-show {
  display: none;
}

/**************************** Title image *************************************/
.banner {
  position: relative;
  height: auto;
  width: 100vw;
}

.banner-slide {
  height: 50rem;
  background-position: 50% 50%;
  background-size: cover;
}

.banner-slide-subpages {
  height: 31.25rem;
  background-position: 50% 40%;
  background-size: cover;
}

.banner-our-story {
  background-position: 50% 32%;
}

.container-wide {
  margin-left: 5%;
  padding: 1.25rem;
  width: 30rem;
}

.banner-slide__content {
  top: 15rem;
  position: relative;
  z-index: 2;
}

.title-paragraph {
  font-weight: bold;
  font-size: 0.875rem;
  color: #edf0f1;
}

.banner-btn {
  background-color: #c68a94;
  color: #edf0f1;
  border: none;
}

.banner-btn:hover {
  background-color: #ebccd2;
  color: black;
}

.banner__tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
}

.banner__tint-sub {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  opacity: 50%;
  background: rgba(0, 0, 0, 0.7);
}

.title-heading {
  text-align: center;
}

/*********************************** Primary Written content ***********************************/

.primary-content {
  text-align: center;
}

.banner-button-secondary {
  color: #c68a94;
  border: 2px solid #c68a94;
}

.banner-button-secondary:hover {
  color: #edf0f1;
  background-color: #c68a94;
}

/**************************** Grid-links ************************************/
.positioning {
  margin-left: 7%;
  margin-right: 7%;
}

.tint:hover .image-scale {
  filter: brightness(100%) grayscale(30%);
}

.backgrounds {
  padding: 0.3125rem;
}

.content {
  text-align: center;
  position: relative;
}

.image-scale {
  /* height: 21.875rem; */
  height: 25rem;
  width: 100%;
  background-position: 50% 50%;
  /* background-size: cover; */
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(70%) grayscale(50%);
}

.on-top {
  z-index: 1;
  font-weight: bold;
  position: absolute;
  color: white;
  font-family: "Montserrat";
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tint:hover .on-top {
  color: white;
  font-size: 4.125rem;
  text-shadow: none;
}

/* @media only screen and (max-width: 125rem) {
  .image-scale {
    height: 25rem;
  }
} */

/**************************** Testimonials ************************************/
.testimonials {
  text-align: center;
}

.carousel-item {
  padding: 3.125rem 20%;
}

.carousel-fixings {
  color: var(--title);
  opacity: 100;
  font-size: 3.125rem;
}

.carousel-fixings:focus {
  color: var(--title);
}

.carousel-fixings:hover {
  color: #ebccd2;
}

/**************************** More information ************************************/
.heading-section {
  margin: 1.25rem;
  font-size: 1.8rem;
  font-family: "Montserrat";
}

.padding {
  padding: 1.6rem 0 3.125rem;
  background-color: #f0ece3;
  text-align: center;
}

.margining {
  padding: 3.125rem 3.125rem 0 3.125rem;
}

/**************************** Footer ************************************/
.footer {
  height: 6.25rem;
  background-color: #596e79;
}

.footer ul,
.footer a {
  margin: 0 5%;
  white-space: nowrap;
}

.fa-facebook {
  font-size: 1.25rem;
}

.nav .nav--item a:hover {
  color: #d3d3d3;
}

/* featurette - Services */
.featurette-divider {
  margin: 50px 10%;
}

.featurette {
  margin-left: 10%;
  margin-right: 10%;
}

.featurette-img {
  height: 400px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 8px 24px #969ba5;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 8px 24px #969ba5;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 8px 24px #969ba5;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  object-fit: cover;
}

.background-color-change {
  background-color: #f0ece3;
}

/* Enquiry */
.iframe-container {
  overflow: hidden;
  padding-top: 70%;
  position: relative;
  height: 100vh;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-height: min-content;
}

/* Screen Sizing */

@media (min-width: 81.25rem) {
  .banner__tint {
    opacity: 50%;
  }
}

/* New media querys */

@media only screen and (max-width: 84rem) {
  .mobile-show {
    display: block;
  }

  .banner__tint {
    opacity: 90%;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .lg-screen {
    visibility: hidden;
    display: none;
  }
  .nav--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #596e79;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 6;
  }

  .nav--link {
    background-color: var(--secondary);
    color: white;
  }

  .nav--menu.active {
    left: 0;
  }

  .nav--item {
    background-color: var(--secondary);
    margin: 1.7rem 0;
  }

  .hamburger {
    z-index: 7;
    background-color: transparent;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 37.5rem) {
  .navbar-fixed-top {
    background-color: #c3b49c;
  }
}

@media (max-width: 35.56rem) {
  .container-wide {
    width: 100%;
    margin: 0 auto;
  }

  .banner-slide {
    height: 34.375rem;
  }

  .section-margin {
    margin: 1.5rem auto;
  }

  .main-title {
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  .banner-slide-subpages {
    height: 300px;
  }

  .banner-slide__content {
    top: 3rem;
  }

  .image-scale {
    height: 12.5rem;
  }

  .carousel-item {
    padding: 1.5625rem 15% 1.5625rem;
  }

  .carousel-fixings {
    font-size: 1.5rem;
  }

  .featurette-img {
    height: 250px;
  }

  .primary-content {
    text-align: left;
  }

  .banner-button-secondary {
    margin: 3rem auto;
    display: block;
  }

  .nav .nav--item {
    font-size: 0.7rem;
    padding: 0;
    padding: 0.3rem;
  }

  .logo {
    height: 100%;
    max-width: 70vw;
    width: 100%;
  }
  .hamburger {
    top: 1.6rem;
  }
}
