.check-list {
  padding-bottom: 1rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.main-timeline {
  font-family: Montserrat, sans-serif;
  position: relative;
}
.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.main-timeline:before {
  content: "";
  background-color: #fff;
  height: 100%;
  width: 20px;
  border-radius: 20px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}
.main-timeline .timeline {
  width: 50%;
  padding: 0 60px 0 0;
  margin: 0 10px 20px 0;
  float: left;
}
.main-timeline .timeline-content {
  background: #fff;
  text-align: center;
  min-height: 125px;
  padding: 0 0 20px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-icon {
  color: #fff;
  background-color: #c3b49c;
  font-size: 45px;
  line-height: 93px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -110px;
}
.main-timeline .title {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #c3b49c;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 0 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-timeline .description {
  margin: 0 25px 0;
  text-align: left;
}
.description a {
  color: var(--secondary);
}
.main-timeline .timeline:nth-child(even) {
  float: right;
  padding: 0 0 0 60px;
  margin: 0 0 20px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: auto;
  left: -110px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 2) .title {
  background-color: #c68a94;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 3) .title {
  background-color: #c19277;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 4) .title {
  background-color: #596e79;
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    padding: 0 110px 0 0;
    margin: 0 0 20px 0;
  }
  .main-timeline .timeline:nth-child(even) {
    padding: 0 0 0 110px;
  }
}
@media screen and (max-width: 479px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    padding: 110px 0 0;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    transform: translateY(0) translateX(-50%);
    top: -110px;
    left: 50%;
    right: auto;
  }
}
