:root {
  --main: #c3b49c;
  --secondary: #596e79;
  --main-hover: #d8cdbd;
  --title: #c68a94;
}

@font-face {
  font-family: casadona;
  src: url(casadona.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
li {
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--title);
  font-family: casadona, cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.75rem;
}
h3 {
  font-size: 3.125rem;
}
.h6 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #596e79;
  font-family: Montserrat, sans-serif;
}

em,
p {
  color: #596e79;
}

.section-margin {
  margin: 3.5rem auto;
}
.inner-section-margin {
  margin-bottom: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main);
  min-width: min-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content {
  padding: 0.5rem;
}
.dropdown-content a {
  display: block;
  background-color: var(--main);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.mobile-show {
  display: none;
}
.banner {
  position: relative;
  height: auto;
  width: 100vw;
}
.banner-slide {
  height: 50rem;
  background-position: 50% 50%;
  background-size: cover;
}
.banner-slide-subpages {
  height: 31.25rem;
  background-position: 50% 40%;
  background-size: cover;
}
.banner-our-story {
  background-position: 50% 10%;
  object-fit: cover;
}
.container-wide {
  margin-left: 5%;
  padding: 1.25rem;
  width: 30rem;
}
.banner-slide__content {
  top: 15rem;
  position: relative;
  z-index: 2;
}
.title-paragraph {
  font-weight: 700;
  font-size: 0.875rem;
  color: #edf0f1;
}
.banner-btn {
  background-color: #c68a94;
  color: #edf0f1;
  border: none;
}
.banner-btn:hover {
  background-color: #ebccd2;
  color: #000;
}
.banner__tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.banner__tint-sub {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  opacity: 60%;
  background: rgba(0, 0, 0, 0.7);
}
.title-heading {
  text-align: center;
}
.primary-content {
  text-align: center;
}
.banner-button-secondary {
  color: #c68a94;
  border: 2px solid #c68a94;
}
.banner-button-secondary:hover {
  color: #edf0f1;
  background-color: #c68a94;
}
.positioning {
  margin-left: 7%;
  margin-right: 7%;
}
.tint:hover .image-scale {
  filter: brightness(100%) grayscale(30%);
}
.backgrounds {
  padding: 0.3125rem;
}
.content {
  text-align: center;
  position: relative;
}
.image-scale {
  height: 25rem;
  width: 100%;
  background-position: 50% 50%;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(70%) grayscale(50%);
}
.on-top {
  z-index: 1;
  font-weight: 700;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tint:hover .on-top {
  color: #fff;
  font-size: 4.125rem;
  text-shadow: none;
}
.testimonials {
  text-align: center;
}
.carousel-item {
  padding: 3.125rem 20%;
}
.carousel-fixings {
  color: var(--title);
  opacity: 100;
  font-size: 3.125rem;
}
.carousel-fixings:focus {
  color: var(--title);
}
.carousel-fixings:hover {
  color: #ebccd2;
}
.img-size__caro {
  max-height: 50vh;
}
.heading-section {
  margin: 1.25rem;
  font-size: 1.8rem;
  font-family: Montserrat;
}
.padding {
  padding: 1.6rem 0 3.125rem;
  background-color: #f0ece3;
  text-align: center;
}
.margining {
  padding: 3.125rem 3.125rem 0 3.125rem;
}
.bottom {
  margin-bottom: 2.5rem;
}

.background-color-change {
  background-color: #f0ece3;
}
.card-testimonials {
  margin: 2rem auto;
  background-color: #f4f4eb;
  padding: 1.7rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.testimonials-img {
  display: block;
  margin: 1rem auto;
}

@media only screen and (min-width: 125rem) {
  .banner-slide-subpages {
    height: 600px;
  }
}
@media (min-width: 81.25rem) {
  .banner__tint {
    opacity: 50%;
  }
}
@media only screen and (max-width: 84rem) {
  .mobile-show {
    display: block;
  }
  .banner__tint {
    opacity: 90%;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .lg-screen {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 35.56rem) {
  .container-wide {
    width: 100%;
    margin: 0 auto;
  }
  .banner-slide {
    height: 34.375rem;
  }
  .fixed {
    position: fixed;
  }
  .section-margin {
    margin: 1.5rem auto;
  }
  .container p,
  .h6 {
    margin-left: 0.7rem;
  }
  .main-title {
    text-align: center;
  }
  .title-heading {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  .banner-slide-subpages {
    height: 300px;
  }
  .banner-slide__content {
    top: 3rem;
  }
  .image-scale {
    height: 12.5rem;
  }
  .carousel-item {
    padding: 1.5625rem 15% 1.5625rem;
  }
  .carousel-fixings {
    font-size: 1.5rem;
  }
  .featurette-img {
    height: 250px;
  }
  .primary-content {
    text-align: left;
  }
  .banner-button-secondary {
    margin: 3rem auto;
    display: block;
  }

  .logo {
    height: 100%;
    max-width: 70vw;
    width: 100%;
  }

  .jay {
    margin-bottom: 10rem;
  }
}
.primary_content__padding {
  padding: 1.2rem 0;
}
.primary_content__padding-btm {
  padding-bottom: 1.2rem;
}
.check-list {
  padding: 1rem 0 0.25rem 2rem;
}
.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
}
.check-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.description a {
  color: var(--secondary);
}

.extra-margin__btm {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 23rem) {
  .heading__title {
    font-size: 3.5rem;
  }

  .jay {
    margin-bottom: 19rem;
  }
}
.btn-container-mobile {
  max-width: max-content;
  margin: auto;
}
