:root {
  --main: #c3b49c;
  --secondary: #596e79;
  --main-hover: #d8cdbd;
  --title: #c68a94;
}

@font-face {
  font-family: casadona;
  src: url(casadona.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
li {
  color: #fff;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--title);
  font-family: casadona, cursive;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.75rem;
}
h3 {
  font-size: 3.125rem;
}
.h6 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #596e79;
  font-family: Montserrat, sans-serif;
}

em,
p {
  color: #596e79;
}

.section-margin {
  margin: 3.5rem auto;
}
.inner-section-margin {
  margin-bottom: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main);
  min-width: min-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content {
  padding: 0.5rem;
}
.dropdown-content a {
  display: block;
  background-color: var(--main);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.mobile-show {
  display: none;
}
.banner {
  position: relative;
  height: auto;
  width: 100vw;
}
.banner-slide {
  height: 50rem;
  background-position: 50% 50%;
  background-size: cover;
}
.banner-slide-subpages {
  height: 31.25rem;
  background-position: 50% 40%;
  background-size: cover;
}
.banner-our-story {
  background-position: 50% 10%;
  object-fit: cover;
}
.container-wide {
  margin-left: 5%;
  padding: 1.25rem;
  width: 30rem;
}
.banner-slide__content {
  top: 15rem;
  position: relative;
  z-index: 2;
}
.title-paragraph {
  font-weight: 700;
  font-size: 0.875rem;
  color: #edf0f1;
}
.banner-btn {
  background-color: #c68a94;
  color: #edf0f1;
  border: none;
}
.banner-btn:hover {
  background-color: #ebccd2;
  color: #000;
}
.banner__tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.banner__tint-sub {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  opacity: 60%;
  background: rgba(0, 0, 0, 0.7);
}
.title-heading {
  text-align: center;
}
.primary-content {
  text-align: center;
}
.banner-button-secondary {
  color: #c68a94;
  border: 2px solid #c68a94;
}
.banner-button-secondary:hover {
  color: #edf0f1;
  background-color: #c68a94;
}
.positioning {
  margin-left: 7%;
  margin-right: 7%;
}
.tint:hover .image-scale {
  filter: brightness(100%) grayscale(30%);
}
.backgrounds {
  padding: 0.3125rem;
}
.content {
  text-align: center;
  position: relative;
}
.image-scale {
  height: 25rem;
  width: 100%;
  background-position: 50% 50%;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(70%) grayscale(50%);
}
.on-top {
  z-index: 1;
  font-weight: 700;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tint:hover .on-top {
  color: #fff;
  font-size: 4.125rem;
  text-shadow: none;
}
.testimonials {
  text-align: center;
}
.carousel-item {
  padding: 3.125rem 20%;
}
.carousel-fixings {
  color: var(--title);
  opacity: 100;
  font-size: 3.125rem;
}
.carousel-fixings:focus {
  color: var(--title);
}
.carousel-fixings:hover {
  color: #ebccd2;
}
.img-size__caro {
  max-height: 50vh;
}
.heading-section {
  margin: 1.25rem;
  font-size: 1.8rem;
  font-family: Montserrat;
}
.padding {
  padding: 1.6rem 0 3.125rem;
  background-color: #f0ece3;
  text-align: center;
}
.margining {
  padding: 3.125rem 3.125rem 0 3.125rem;
}
.bottom {
  margin-bottom: 2.5rem;
}
.footer {
  min-height: 6.25rem;
  background-color: #596e79;
}
.footer a,
.footer ul {
  margin: 0 5%;
  white-space: nowrap;
}
.fa-facebook {
  font-size: 1.25rem;
}
.nav .nav--item a:hover {
  color: #d3d3d3;
}
.featurette-divider {
  margin: 50px 10%;
}
.featurette {
  margin-left: 10%;
  margin-right: 10%;
}
.featurette-img {
  height: 400px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 8px 24px #969ba5;
  -moz-box-shadow: 0 8px 24px #969ba5;
  box-shadow: 0 8px 24px #969ba5;
  object-fit: cover;
}
.background-color-change {
  background-color: #f0ece3;
}
.card-testimonials {
  margin: 2rem auto;
  background-color: #f4f4eb;
  padding: 1.7rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.testimonials-img {
  display: block;
  margin: 1rem auto;
}
#iFrame {
  min-height: 100vh;
  height: min-content;
  width: 100%;
}
@media only screen and (min-width: 125rem) {
  .banner-slide-subpages {
    height: 600px;
  }
}
@media (min-width: 81.25rem) {
  .banner__tint {
    opacity: 50%;
  }
}
@media only screen and (max-width: 84rem) {
  .mobile-show {
    display: block;
  }
  .banner__tint {
    opacity: 90%;
  }
  .dropdown:hover .dropdown-content {
    display: none;
  }
  .lg-screen {
    visibility: hidden;
    display: none;
  }

  .nav--link {
    background-color: var(--secondary);
    color: #fff;
  }

  .nav--item {
    background-color: var(--secondary);
    margin: 1.7rem 0;
  }
}

@media (max-width: 35.56rem) {
  .container-wide {
    width: 100%;
    margin: 0 auto;
  }
  .banner-slide {
    height: 34.375rem;
  }
  .fixed {
    position: fixed;
  }
  .section-margin {
    margin: 1.5rem auto;
  }
  .container p,
  .h6 {
    margin-left: 0.7rem;
  }
  .main-title {
    text-align: center;
  }
  .title-heading {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  .banner-slide-subpages {
    height: 300px;
  }
  .banner-slide__content {
    top: 3rem;
  }
  .image-scale {
    height: 12.5rem;
  }
  .carousel-item {
    padding: 1.5625rem 15% 1.5625rem;
  }
  .carousel-fixings {
    font-size: 1.5rem;
  }
  .featurette-img {
    height: 250px;
  }
  .primary-content {
    text-align: left;
  }
  .banner-button-secondary {
    margin: 3rem auto;
    display: block;
  }
  .footer,
  .nav,
  .nav--item {
    display: block;
    text-align: center;
  }
  .footer {
    padding-bottom: 2rem;
  }
  .fa-facebook {
    font-size: 2rem;
  }
  .logo {
    height: 100%;
    max-width: 70vw;
    width: 100%;
  }

  .jay {
    margin-bottom: 10rem;
  }
}
.primary_content__padding {
  padding: 1.2rem 0;
}
.primary_content__padding-btm {
  padding-bottom: 1.2rem;
}
.check-list {
  padding: 1rem 0 0.25rem 2rem;
}
.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
}
.check-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.main-timeline {
  position: relative;
}
.main-timeline:after {
  content: '';
  display: block;
  clear: both;
}
.main-timeline:before {
  content: '';
  background-color: #fff;
  height: 100%;
  width: 20px;
  border-radius: 20px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}
.main-timeline .timeline {
  width: 50%;
  padding: 0 60px 0 0;
  margin: 0 10px 20px 0;
  float: left;
}
.main-timeline .timeline-content {
  background: #fff;
  text-align: center;
  min-height: 125px;
  padding: 0 0 20px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-icon {
  color: #fff;
  background-color: #c3b49c;
  font-size: 45px;
  line-height: 93px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -110px;
}
.main-timeline .title {
  color: #fff;
  font-family: Montserrat, sans-serif;
  background-color: #c3b49c;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 0 20px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-timeline .description {
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}
.description a {
  color: var(--secondary);
}
.main-timeline .timeline:nth-child(even) {
  float: right;
  padding: 0 0 0 60px;
  margin: 0 0 20px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: auto;
  left: -110px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 2) .title {
  background-color: #c68a94;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 3) .title {
  background-color: #c19277;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-icon,
.main-timeline .timeline:nth-child(4n + 4) .title {
  background-color: #596e79;
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    padding: 0 110px 0 0;
    margin: 0 0 20px 0;
  }
  .main-timeline .timeline:nth-child(even) {
    padding: 0 0 0 110px;
  }
}
@media screen and (max-width: 479px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    padding: 110px 0 0;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    transform: translateY(0) translateX(-50%);
    top: -110px;
    left: 50%;
    right: auto;
  }
}
.btn-plus:focus,
.btn-plus:hover {
  color: pink;
  box-shadow: none;
  outline: 0;
}
.btn-plus {
  color: #c68a94;
}
#team .card {
  border: none;
  background: #fff;
}
.image-flip.hover .backside,
.image-flip:hover .backside {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -o-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  border-radius: 0.25rem;
}
.image-flip.hover .frontside,
.image-flip:hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  margin: 10px;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  z-index: 2;
  margin: 1.875rem 1.25rem 6.25rem;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
  -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
  box-shadow: 5px 7px 9px -4px #9e9e9e;
}
.backside,
.frontside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.backside .card,
.frontside .card {
  min-height: min-content;
}
.backside .card .card-title,
.frontside .card .card-title {
  color: #c68a94;
  font-family: casadona, cursive;
  font-size: 2rem;
}
.frontside .card .card-body img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.carousel-text {
  color: #fff;
  opacity: 150%;
}
.carousel-caption {
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}
.img-cnt {
  background-position: 50% 60%;
  background-size: cover;
}
.enrol {
  background-color: #edecec;
}
.enrol h1 {
  margin-top: 1.5rem;
}
.extra-margin__btm {
  margin-bottom: 7rem;
}
@media only screen and (max-width: 23rem) {
  .heading__title {
    font-size: 3.5rem;
  }

  .jay {
    margin-bottom: 19rem;
  }
}
.btn-container-mobile {
  max-width: max-content;
  margin: auto;
}
